<!-- Here we delete whatever was before, and copy/paste the code from .NET Doc.-->
<!-- This code right here sets the title of the tab we're in -->
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<!-- It seems to be basic html stuff, like the <p> tag, and the <h2> -->